body {
  font-family: Roboto;
  margin: 0px;
  color: #615D6C;
  background-color: rgb(230, 227, 227);
}
.body-content {
  max-width: 1000px;
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.intro-container > h1 {
  font-size: 72px;
  font-weight: 400;
  color: #60779f;
  letter-spacing: 2;
  text-align: center;
}
ul {
  list-style-type: none;
  display: block;
}
.nav {
  height: 75px;

}
.nav-item {
  float: right;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color: #6f8AB7;
  font-size: 20px;
  margin-top: 10px;
}
.nav-item a:hover{
  border-bottom:2px solid #6f8AB7;
}
.intro-blurb {
  font-size: 20px;
  line-height: 2.0
}
.terminal {
  background-color: #fff;
  border-radius: 10px;
  height: 400px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.terminal-header {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terminal-header span {
  background-color: #ff5f56;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.terminal-header span.green {
  background-color: #27c93f;
}
.terminal-header span.yellow {
  background-color: #ffbd2e;
}
.terminal-body {
  padding: 20px;
  background-color: #fff;
  color: #333;
  overflow-y: auto;
  max-height: 300px;
  
}
.command {
  margin: 10px 0;
  color: #615D6C;
}
.command > a {
  text-decoration: none;
  color: #615D6C;
}
.prompt {
  color: #2a9d8f;
}
.input-field {
  color: #e76f51;
}
.project-container {
  margin-top: 40px;
  
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.project-img {
  flex: 1;
  max-width: 400px;
  max-height: 400px;
}
.project-text {
  margin: 20px;
  line-height: 2;
}
.project-skill {
  border: 2px solid #00ff00;
  margin-right: 8px;
  padding: 6px;
  border-radius: 6px;
}